.form-container {
    width: 30%;
    border: 1px solid #80808040;
    border-radius: 6px;
}
.err-input{
    border: 1px solid red;
}
body {
    background-color: azure;
}
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

footer {
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}